body {
  width: 95%;
  font-size: 18px;
  font-family: monospace;
  margin: 0;
  padding: 0;
  color #333;
}

.jumbotron {
  height: 70vh;
  background-image: url("../img/timeLapse.jpeg");
  background-size: cover;
  color: #eee;
  padding: 5px;
}

.jumbotron h2 {
  text-align: center;
}


header h1 {
  text-align: center;
}

#display {
  margin-top: 2em;
}
