body {
  width: 95%;
  font-size: 18px;
  font-family: monospace;
  margin: 0;
  padding: 0;
  color #333;
}

header {
  width: 90vw;
  height: 50vh;
  background-image: url(../img/timeLapse.jpeg);
  background-size: cover;
  color: #ccc;
  margin: 0.5em auto 3em;
  border: 3px solid #333;
}

header h1 {
  text-align: center;
}

.hide {
  display: none;
}

#display {
  margin-top: 2em;
}
